
    *{margin: 0; padding: 0; box-sizing: border-box;}
    body{
        min-height: 100vh;
        display: grid;
        place-items: center;
    }
   
    .header h1{
        height: auto;
        font-family: sans-serif;
        font-size: 4em;
        padding: 10px;
        text-align: center;
        color: aqua;
    }
    
    .menu ul li{
        padding-left: 20px;
        margin-left: 10px;
        font-size: 18px;
        list-style: none;
        display: inline-block;
        padding:  5 35px;
    }
    
    .menu  li a{
        text-decoration: none;
        color:greenyellow;
        text-transform: capitalize;
    }
    
    .active,ul li:hover{
        border-top: 2px solid #5dade2;
        border-bottom: 2px solid red;
    
    }
.nav img{
    width: 350px;
    height: 250px;
    border: 2px solid darkred;
    border-radius: 12px 12px 12px;
}

.nav img:hover{
    width: 330px;
    height: 230px;
    border: 2px double rgb(240, 177, 177);
    border-radius: 12px 12px 12px; 
}
       
