
    *{margin: 0; padding: 0; box-sizing: border-box;}
    body{
        min-height: 100vh;
        display: grid;
        place-items: center;
    }
   
    h1{
        font-family: sans-serif;
        font-size: 4em;
        padding: 10px;
        text-align: center;
        border: 5px solid black;
    }
    main{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    div{
    
        background-color: rgb(73, 10, 156);
        border-radius: 55% 45% 75% 25% / 44% 52% 48% 56% ;
    }
    img{width: 300px; height: auto;}